<template name="logicMusic">
<!-- For an image header add the class 'content-header-media' and an image as in the following example -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="gi gi-sampler"></i>Steckdosenleisten<br><small></small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li><a href="{{ pathFor 'dashboard' }}">Dashboard</a></li>
                            <li>by function</li>
                            <li><a href="{{ pathFor 'steckdosen' }}">Steckdosen</a></li>
                        </ul>
                        <div class="block full">
                            <!-- Default Style Title -->
                            <div class="block-title">
                                <h2><strong>{{name}}</strong></h2>
                            </div>
                            <!-- END Default Style Title -->
                            <div class="row">
                            </div>
                        </div>
</template>