<template name="modalWrapper">
  <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="">{{title}}</h4>
        </div>
        {{> UI.contentBlock}}
      </div>
    </div>
  </div>
</template>

<template name="modalButton">
  <button type="button" class="btn {{class}}" data-toggle="modal" data-target="#{{id}}">
    {{title}}
  </button>
</template>

<template name="modalFooter">
</template>
