<template name="editSocketModal">
  {{#modalWrapper id="editSocketModal" title=modal_title_edit }}
    <form>
      <div class="modal-body">
        <input type="hidden" class="socket-id" value="{{socket._id}}">
        <div class="form-group">
          <label class="control-label">Socket name</label>
          <input type="text" class="form-control socket-name" value="{{socket.name}}">
        </div>
        <div class="form-group">
          <label class="control-label">Socket description</label>
          <textarea class="form-control socket-description">{{socket.description}}</textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger delete">Delete</button>
        <button type="button" class="btn btn-primary save">Save changes</button>
      </div>
    </form>
  {{/modalWrapper}}
  {{#modalWrapper id="deleteSocketModal" title=modal_title_del }}
    <form>
      <div class="modal-body">
        This action can not be undone! All socket specific configuration will be lost!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger delete-confirmation">Yes</button>
      </div>
    </form>
  {{/modalWrapper}}
</template>

<template name="editSocketButton">
  <button type="button" class="edit-socket btn glyphicon glyphicon-pencil" socket_id="{{socket_id}}"></button>
</template>
