<template name="hwSteckdosenPage">
	<h2>Steckdosenleisten</h2>

	{{#if isInRole 'socket-add'}}
		{{>addSocketModal}}
	{{/if}}
	{{#if isInRole 'socket-edit'}}
		{{>editSocketModal}}
		{{>editPlugModal}}
	{{/if}}

	{{#each rittal}}
	<div class="block full">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{name}}
					{{#if description}} ({{description}}) {{/if}}
					{{#if isInRole 'socket-edit'}}
					{{>editSocketButton socket_id=_id}}
					{{/if}}
				</h3>
			</div>
			<div class="panel-body row">
				{{#each arrayify plugs}}
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="block-section text-center" style="width:16,66%">
						{{#if isInRole 'socket-edit'}}
                    		{{>editPlugButton socket_id=../_id plug_id=key}}
                  		{{/if}}
						<button style="width:100%;padding:2px;margin:2px;height:100%;white-space:normal;" leiste="{{../_id}}" plug="{{key}}"
								class="btn
								{{#if state.user_switchable}}
									{{#if state.current}}
										plug_off
									{{else}}
										plug_on
									{{/if}}
								{{else}}
									disabled
								{{/if}}
								{{#if state.current}}
									btn-success
								{{else}}
									btn-danger
								{{/if}}">
								<h4>{{#if name}}{{name}}{{else}}unused{{/if}}</h4>
						</button>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{/each}}
	{{#if isInRole 'socket-add'}}
		{{>addSocketButton}}
	{{/if}}
</template>
